body,html {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
 
 }

.header{
height: 50px;
width: 100%;
display: flex;
}
.headerContainer{
    display: flex;
    width: 60%;
    /* background-color:antiquewhite; */
    margin: 0 auto;
}
.headerLeftContainer{
    display: flex;
    margin-right: auto;
}
.headerRightContainer{
    display: flex;
 margin-left: auto;
 
 
}
.headerRightContainer p {
    margin-left: 15px;
}
 .fas {
    margin-right: 5px;

}
.logoSpan {
 height: 100%;

}

.logoSpan img {
    height: 100%;
    object-fit: cover;
}
.sloganSpan {
margin-left: 20px;
}

.menu{
background-color: #3f979f;
color: white;
}

.envelope{
    margin-right: 10px;
    
 
}
#emailNavDiv{
    color: black;
    text-decoration: none;
}

.aboutContainer{
    width: 100%;
    height: 200px;
  
    background-color: #3f979f;
    position: relative;
}
.aboutTitle{
    color: white;
    font-size: 2rem;
    list-style-type: none;
padding: 50px 275px 0px ;
}
.navigation{
    display: flex;
    list-style-type: none;
 width: 100%;
 background-color: #1e2736;
 height: 40px;
 position: absolute;
 bottom: 0;

}
.aboutUs a,.managementTeam a, .location a, .pearsonVUE a,.genderPayGapReport a{
    color: black;
    text-decoration: none;
  
}
.aboutUs{
    height: 100%;
}

.navBar{
    display: flex;
    /* padding: 10px 270px; */
    margin-left: 270px;


    
}
.aboutUs:hover,.managementTeam:hover, .location:hover,.pearsonVUE:hover,.genderPayGapReport:hover {
background-color: rgb(162, 171, 179);


}
/* .managementTeam, .location, .pearsonVUE,.genderPayGapReport{
    margin-left: 20px;
   
} */
#navTitle{
    margin-top: 10px;
    color: white;
    margin:10px 10px
}
.directionStyle{
    color: rgb(185, 116, 116);
}
.navActive{
    background-color: rgb(162, 171, 179);
}
.diectionContainer{
    display: flex;
}
.directionTitle{
    margin-left: 285px;
}
.directionAbout{
    color:rgb(162, 171, 179);
    margin-left: 5px;
}
.aboutdetailContainer{
    width: 60%;
    display: flex;
    height: 300px;
    margin: 0 auto;
    

}
.ourImage{
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    display: flex;


}
.ourImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 
}
.ourMission {
    width: 50%;
    height: 100%;
        float: left;
        color: rgb(102, 108, 114);
        padding: 10px;
       
}
.ourMissionTitle{
    color: black;
}

.whatWeDoContainer{
    width: 100%;
    height: 500px;
    background-color: #d4dcdd;
    position: relative;

}

 .ourExperience{
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-image: url('size_p_5_0.jpg'); */
height: 60%;
object-fit: cover;

 }
.ourExperience img{
    width: 100%;
}
.whatWeDoTitle{
padding-top: 20px;
    text-align: center;
}
.ourExperienceText{
    position: absolute;
    bottom: 0;
    width: 30%;
    padding: 0px 305px 60px;
    color: white;
}
.softwareTestingContainer{
width: 60%;
margin: 0 auto;
margin-top: 50px;

}

.softwaeTestingText{
    color: rgb(102, 108, 114);
}
.footerContainer{
    width: 100%;
    height: 300px;
    background-color: #1e2736;
}

#main{
    height: calc(100%-300px- 250px);
}
#backToTopIcon{
    display: flex;
    justify-content:flex-end;
    margin-right: 40px;
    margin-bottom: 20px;
}
#backToTopIcon img{
    border-radius: 50px;
    
}
.ourServices{
    display: flex;
    width: 60%;
    margin: 0 auto;

}
.whatWeDoMainBox{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: #e8eff0;
    margin-left: 20px;

}
.boxIcon{
    width: 50%;
}
.boxIcon img{
width: 100%;
}
.boxText{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footerContainer{

    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
}
.footerBox{
    display: flex;
    width: 60%;
    align-items: center;
   justify-content: space-between;
    margin: 0 auto;
}
#emailNav{
    color: white;
}
.centerBoxIcons {
    margin-top: 10px;

}

#social{


    text-decoration:none;
 margin-top: 40px;

    
    }
    #social .fa,.fab{
        color: black;
        font-size: 30px
    }
   
    
    
    #socialstyle {
      
     padding-left: 10px;
        
       

    }
    
    #social a{
        text-decoration:none;

    }
    #social .fa,.fab {
       
        
        transition: .6s;
        box-shadow: 0 5px 4px rgba(0,0,0.6s);
     color: #e8eff0;;
       
        
    
    }
    #social a i:hover{
        transform:translate(0,-15px);
    }

    .footerLogo{
        width: 100%;
    }


    .footerContactUsUnderline{
        width: 25%;
        border-bottom: 2px solid #3f979f;
    }
    .softwareTestingTitle,.ourMissionTitle,.footerContactUsTitle,.whatWeDoTitle{
        width: 100%;
    }
    .softwareTestingUnderLine{
        border-bottom: 2px solid #3f979f;
        width: 10%;
    }
    .ourMissionUnderLine{
        border-bottom: 2px solid #3f979f;
        width: 15%;
    }
    .whatWeDoUnderLine{
        border-bottom: 2px solid #3f979f;
        width: 5%;
        margin: 0 auto;
        margin-top: 10px;
    }
.borderTop{
    border-bottom: 0.05rem solid #bebebe;;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}
    .copyRights{
    
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }


    @media (max-width: 1000px){
        .aboutdetailContainer,.ourExperienceText {
          display: none;
        }
      
      }
      @media (max-width: 700px){
        .leftBox,.centerBox,.copyRights{
          display: none;
        }
        
     
      }
      @media (max-width: 910px){
     
        .navBar{
            margin-left: 0px;
        }   
      .aboutTitle{
        padding: 50px 100px ;
      }
     
        .header{
            height: 75px;
            
        }
        .directionTitle{
            margin-left: 10px;
        }
        .leftBox {
            display: none;
          }
          .navigation{
              height: 60px;
          }
          .headerLeftContainer{
              display: none;
          }
      }
    .manuTitle a{
 padding-right: 15px;
 text-decoration: none;
 color: white;
    }